<div style="text-align: center;">
  <h3>Todo Input</h3>
  <div class="header">
    <input [(ngModel)]="newTaskInput">
    <button (click)="addNewTask()">Add New Task</button>
  </div>
  <h3>TodoList</h3>
  <div class="buttons">
    <button>All</button>
    <button>Done</button>
    <button>Todo</button>
  </div>
  <div class="container">
    <!-- Eski Sürüm-->
    <!-- <div *ngFor="let task of tasks" >
      <div class="task">
        <span> {{ task }} </span>
        <div>
          <input type="checkbox">
          <mat-icon>edit</mat-icon>
          <mat-icon>delete</mat-icon>
        </div>
      </div>
    </div> -->
    <!-- Eski Sürüm-->

    <!-- Yeni Sürüm-->
    @for (task of tasks; track $index) {
    <div class="task">
      <span> {{  $index + 1 }} -)  {{ task }} </span>
      <div>
        <input type="checkbox">
        <mat-icon (click)="editTask($index)">edit</mat-icon>
        <mat-icon (click)="deleteTask($index)">delete</mat-icon>
      </div>
    </div> 
    }
    <!-- Yeni Sürüm-->


  </div>
</div>